__pycache__/
*.pyc
saved_models/
experiment_log_*.csv
visuals*/
.system_generated/
Subtomogram_CVPR.pdf
Bridging the Synthetic-to-Real Gap with Hierarchical Adaptation for Few-Shot Cryo-ET Subtomogram Classification _ OpenReview.pdf